:root{

   --color-primary: #f9f9f9;
   --color-secundary: #2e5e80;
   --color-tertiary: #3d3d3d;
   --color-accent: #4286ee;

   --contrast-light: #e4ecf1;
   --contrast-dark: #16191b;

   --fs-12: 0.75rem;
   --fs-14: 0.875rem;
   --fs-16: 1rem;
   --fs-18: 1.125rem;
   --fs-20: 1.25rem;
   --fs-24: 1.5rem;
   --fs-28: 1.75rem;
   --fs-32: 2rem;
   --fs-52: 3.185rem;

   --fw-tittle: 700;
   --fw-sub-tittle: 500;
   --fw-quote: 300;

   --space-section: 2rem 0;
   --sie-16: 1rem;
   --sbe-24: 1.5rem;
   --soe-32: 2rem;

   --mw-1440: 90rem;
   --w-1280: 80rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif; 
}

a, li{
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--color-primary);
}

main{
    max-width: var(--mw-1440);
    width: var(--w-1280);
    height: 720px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding: var(--sbe-24) 0;
    background-color: var(--color-primary);
    color: var(--contrast-dark)
}

main aside{
    width: 10rem;
    height: 20rem;
}

main aside ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--soe-32);
    font-size: var(--fs-20);
}

main .presentation{
    width: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: var(--sbe-24);
    gap: var(--sbe-24);
    font-size: var(--fs-18);
}

main .presentation .presentation-intro h2{
    position: relative;
    margin-bottom: var(--sie-16);
    font-size: var(--fs-52);
}

main .presentation .presentation-intro h2::after{
    content: "";
    position: absolute;
    width: 17rem;
    height: var(--fs-24);
    left: 0;
    top: 1.75rem;
    border-radius: 10rem;
    background-color: blue;
    transform: rotate(-1deg);
   opacity: 0.4;

}

main .presentation .presentation-detail{
    gap: var(--sie-16);
}

main .presentation .presentation-detail h3{
    margin-bottom: var(--sie-16);
    font-size: var(--fs-20);
}

main .presentation .presentation-detail ul{
    display: grid;
    gap: var(--sie-16);
}

main .presentation .presentation-detail ul li{
    display: flex;
    align-items: center;
    gap: var(--sie-16);
}

main .presentation .presentation-detail .icons{
    font-size: var(--fs-32);
    color: var(--color-secundary);
}

main .product{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: var(--sie-16);
}

main .product .product-tune{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--sie-16);
}

main .product .product-tune label{
    font-size: var(--fs-18);
    font-weight: var(--fw-tittle)
}

main .product h3{
    font-size: var(--fs-24);
}

main .tune-colors{
    display: flex;
    gap: 0.5rem;
}

main .product .tune-colors button{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
}

main .product img{
    width: 550px;
    
}

footer{
    width: 100%;
    height: 10vh;
    padding: var(--fs-24);
    background-color: var(--color-tertiary);
}