:root {
  --color-primary: #f9f9f9;
  --color-secundary: #e48416;
  --color-tertiary: #3d3d3d;
  --color-accent: #4286ee;

  --contrast-light: #e4ecf1;
  --contrast-dark: #16191b;

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-52: 3.185rem;

  --fw-tittle: 700;
  --fw-sub-tittle: 500;
  --fw-quote: 300;

  --space-section: 5rem 0;
  --sie-16: 1rem;
  --sbe-24: 1.5rem;
  --soe-32: 2rem;

  --mw-1440: 90rem;
  --w-1280: 80rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

@keyframes movingY {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes movingX {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  };
  100%{
    opacity: 1;
  };
}

.animation-up {
  opacity: 0;
  transform: translateY(240px);
  transition: 0.5s ease-in-out;
}

.reveral-up {
  opacity: 1;
  transform: translateX(0);
}

.animation-left {
  transform: scale(0.01);
  transition: 0.5s ease-in-out;
}

.reveral-left {
  transform: scale(1);
}

.girlAnimation {
  transform: translate(280px);
  opacity: 0;
  transition: 1.5s;
}

.girlAnimationOn {
  transform: translate(0px);
  opacity: 1;
}

.moveY {
  animation: movingY 1s alternate ease-in-out infinite;
}

.moveX {
  animation: movingX 1s alternate ease-in-out infinite;
}
.moveX1 {
  animation: movingX 1s alternate 0.2s ease-in-out infinite;
}

.moveX2 {
  animation: movingX 1s alternate 0.4s ease-in-out infinite;
}

.moveX3 {
  animation: movingX 1s alternate 0.6s ease-in-out infinite;
}

.moveX4 {
  animation: movingX 1s alternate 0.8s ease-in-out infinite;
}

.moveX5 {
  animation: movingX 1s alternate 1s ease-in-out infinite;
}

.desktop-hidden {
  display: none;
}

.btn-cta {
  border: none;
  border-bottom: solid 0.5rem var(--color-tertiary);
  padding: 1rem 2rem;
  border-radius: 5rem;
  background-color: var(--color-accent);
  font-size: var(--fs-24);
  font-weight: var(--fw-tittle);
  cursor: pointer;
  transition: 0.1s linear;
}

.btn-cta:hover {
  border-bottom: solid 0px var(--color-tertiary);
}

.fadeJS {
  animation: fade 0.9s linear;
}

body {
  background-color: var(--color-primary);
}

main .container-main {
  max-width: var(--mw-1440);
  width: 100%;
  height: 100dvh;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding: 1.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--contrast-dark);
}

main aside {
  min-width: 12rem;
  height: 20rem;
}

main aside h1 {
  width: 100%;
  font-size: var(--fs-32);
  color: var(--contrast-dark); 
}

main aside h1 span{
  font-family: 'Monoton', cursive;
  color: var(--color-accent);
}

main aside ul {
  height: 100%;
  margin-top: var(--sbe-24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--soe-32);
  font-size: var(--fs-24);
  font-weight: var(--fw-tittle);
  text-transform: uppercase;
}

main aside a {
  position: relative;
  color: var(--contrast-dark);
}

main aside a::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: 0;
  height: 0.35rem;
  border-radius: 2rem;
  background-color: var(--color-accent);
  transform: rotate(-2deg);
  opacity: 0;
  transition: 0.3s;
}

main aside a:hover::after {
  width: 100%;
  opacity: 1;
}

main .presentation {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: var(--sbe-24);
  gap: var(--sbe-24);
  font-size: var(--fs-18);
}

main .presentation a {
  margin-top: var(--soe-32);
}

main .presentation .presentation-intro h2 {
  position: relative;
  margin-bottom: var(--sie-16);
  font-size: var(--fs-52);
}

main .presentation .presentation-intro h2::after {
  content: "";
  position: absolute;
  width: 18rem;
  height: var(--fs-18);
  left: 0;
  top: 2.75rem;
  border-radius: 5rem 3rem 2rem 2rem;
  background-color: var(--color-accent);
  transform: rotate(-1deg);
  opacity: 0.7;
}

main .presentation .presentation-detail {
  gap: var(--sie-16);
}

main .presentation .presentation-detail h3 {
  margin-bottom: var(--sie-16);
  font-size: var(--fs-24);
}

main .presentation .presentation-detail ul {
  display: grid;
  gap: var(--sie-16);
}

main .presentation .presentation-detail ul li {
  display: flex;
  align-items: center;
  gap: var(--sie-16);
  font-size: var(--fs-20);
}

main .presentation .presentation-detail .icons {
  font-size: var(--fs-32);
  color: var(--color-secundary);
}

main .product {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--sie-16);
}

main .product .product-tune {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--sie-16);
}

main .product .product-tune label {
  width: 100%;
  font-size: var(--fs-18);
  font-weight: var(--fw-tittle);
}

main .product h3 {
  font-size: var(--fs-24);
}

main .tune-colors {
  display: flex;
  gap: 0.5rem;
}

main .product .tune-colors button {
  width: 2rem;
  height: 2rem;
  border: solid 2px var(--color-tertiary);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

main .product .tune-colors button:hover,
main .product .tune-colors button:focus {
  transform: scale(1.3);
  border-color: var(--color-accent);
}

#white {
  background-color: #ced4d8;
}

#black {
  background-color: #16191b;
}

#blue {
  background-color: #7ea1b8;
}

#orange {
  background-color: #e97312;
}

#pink {
  background-color: #ff2b9f;
}

#grey {
  background-color: #7a7a7a;
}

#gold {
  background-color: #9e692d;
}

main .product img {
  max-width: 580px;
  width: 100%;
}

main .container {
  max-width: var(--mw-1440);
  width: 100%;
  height: 100dvh;
  position: relative;
  margin: auto;
  display: flex;
  padding: 5rem 1rem;
  background-color: var(--color-primary);
  color: var(--contrast-dark);
}

main .container .illustration {
  height: 50%;
  border-radius: 100rem 100rem 5rem 5rem;
  padding: 2rem;
  background-color: var(--color-secundary);
}

main .container .container-description h3 {
  width: auto;
  position: relative;
  margin-bottom: var(--fs-52);
  font-size: var(--fs-52);
}

main .container .container-description h3::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: var(--fs-20);
  left: 0;
  top: 2.8rem;
  border-radius: 5rem 3rem 2rem 2rem;
  background-color: var(--color-accent);
  transform: rotate(-1deg);
  opacity: 0.7;
}

main .container .container-description p {

  margin-bottom: var(--sie-16);
  font-size: var(--fs-20);
}

main .container-use {
  max-width: var(--mw-1440);
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 1rem;
  background-color: var(--color-primary);
  color: var(--contrast-dark);
}

main .container-use h3 {
  position: relative;
  font-size: var(--fs-52);
  margin-bottom: var(--soe-32);
}

main .container-use h3::after {
  content: "";
  position: absolute;
  width: 21rem;
  height: var(--fs-18);
  left: 0;
  top: 2.75rem;
  border-radius: 5rem 3rem 2rem 2rem;
  background-color: var(--color-accent);
  transform: rotate(-1deg);
  opacity: 0.7;
}

main .container-use ul {
  display: flex;
  flex-direction: column;
  gap: var(--sbe-24);
  font-size: var(--fs-24);
}
main .container-use ul li {
  display: flex;
  align-items: center;
  gap: var(--sie-16);
}

main .container-use ul i {
  color: var(--color-secundary);
  font-size: var(--fs-32);
}

main .container-use a {
  margin-top: var(--soe-32);
}

footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tertiary);
  padding-top: var(--soe-32);
  gap: var(--sbe-24);
}

footer img {
  width: 5rem;
  height: auto;
}

footer p {
  width: 25%;
  font-size: var(--fs-18);
  color: var(--contrast-light);
  text-align: center;
}

footer .madeFor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--fs-16);
  background-color: var(--color-tertiary);
  color: #c7c7c7;
}

footer .madeFor span a {
  color: var(--contrast-light);
  transition: 0.2s;
}

footer .madeFor span a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 960px) {
  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  .btn-cta {
    width: 100%;
    font-size: var(--fs-20);
  }

  main .container-main {
    width: 100%;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: var(--sie-16);
  }

  main .container-main aside {
    width: 100%;
    height: auto;
    display: none;
  }

  main .container-main aside ul {
    margin-top: var(--soe-32);
    flex-direction: row;
    font-size: var(--fs-20);
  }

  main .container-main .presentation {
    width: 100%;
    padding: 0;
  }

  main .container-main .presentation h2 {
    margin-top: var(--sbe-24);
    font-size: var(--fs-32);
  }

  main .container-main .presentation h2::after {
    width: 11rem;
    height: 0.75rem;
    top: 1.75rem;
  }

  main .container-main .presentation .presentation-detail ul li {
    font-size: var(--fs-18);
  }

  main .container-main .product {
    width: 100%;
  }

  main .container-main .product img {
    margin-top: var(--sbe-24);
    width: 100%;
    height: auto;
  }

  main .container-main .product .product-tune {
    flex-direction: column;
    align-items: start;
  }

  main .container-main .product .product-tune a {
margin: auto;
    margin-top: var(--sbe-24);
  }

  main .container {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 5rem var(--sie-16);
  }

  main .container .container-description h3 {
    font-size: var(--fs-32);
  }

  main .container .container-description h3::after {
    width: 11rem;
    height: 0.75rem;
    top: 1.75rem;
    left: 9rem;
  }

  main .container .container-description p {
    font-size: var(--fs-18);
  }

  main .container .illustration {
    width: 100%;
    margin-top: var(--sbe-24);
    padding: 0rem;
  }

  main .container .illustration svg {
    width: 100%;
  }

  main .container-use {
    width: 100%;
    height: auto;
    padding: var(--sie-16);
  }

  main .container-use h3 {
    font-size: var(--fs-32);
  }

  main .container-use h3::after {
    width: 13rem;
    top: 1.7rem;
    height: 0.75rem;
  }

  main .container-use ul li {
    font-size: var(--fs-18);
  }

  footer {
    margin-top: var(--sbe-24);
  }

  footer p {
    width: 80%;
  }
}
